accelerate==1.9.0
annotated-types==0.7.0
datasets==4.0.0
dill==0.3.8
fastapi==0.116.1
filelock==3.18.0
h11==0.16.0
huggingface-hub==0.34.3
numpy==2.3.1
packaging==25.0
pandas==2.3.1
pydantic==2.11.7
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.7.34
requests==2.32.4
starlette==0.47.2
tokenizers==0.21.4
torch==2.7.1
tqdm==4.67.1
transformers==4.54.1
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
uvicorn==0.35.0
xxhash==3.5.0

